<header class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to image_tag("logo.png"), root_url %>
    </div>
    <div id="section-nav" class="col-sm-6">
      <p>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Beef", category_path('beef') %>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Veal", category_path('veal') %>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Lamb", category_path('lamb') %>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Mutton", category_path('mutton') %>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Chicken", category_path('chicken') %>
		<span class="glyphicon glyphicon-unchecked"></span>
		</p>
		<p>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Burgers", category_path('burgers') %>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Sausages", category_path('sausages') %>
		<span class="glyphicon glyphicon-unchecked"></span>
		<%= link_to "Marinated Meats", category_path('marinated-meats') %>
		<span class="glyphicon glyphicon-unchecked"></span>
	</p>  
    </div>
  </div>
</header>