<p>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Beef", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Veal", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Lamb", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Mutton", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Chicken", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
</p>
<p>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Burgers", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Sausages", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
	<%= link_to "Marinated Meats", "#" %>
	<span class="glyphicon glyphicon-unchecked"></span>
</p>